.profile_footer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    font-size: 12px;
    margin-bottom: 30px;
}
.profile_footer>div{
    cursor: pointer;
}
.profile_footer>div:hover{
    text-decoration: underline;
}