.containerlogin{
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
  font-size: 14px;
}

.box1{
  max-width: 350px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid gray;
  border-radius: 1px;
  margin: 0 0 10px;
  padding: 10px 0;
  color: wh;
  flex-grow: 1;
}

.headinglogin{
  margin: 22px auto 12px;
  background-image: url("https://www.instagram.com/static/bundles/es6/sprite_core_b20f2a3cd7e4.png/b20f2a3cd7e4.png");
  background-position: -98px 0;
  height: 51px;
  width: 177px;
  overflow: hidden;
}
.field {
  margin: 10px 0;
  position: relative;
  font-size: 14px;
  width: 100%;
  text-overflow: ellipsis;
}
.login-input{
  padding: 9px 0px 7px 9px;
  font-size: 12px;
  width: 16rem;
  outline: none;
  background: #fafafa;
  border-radius: 3px;
  border: 1px solid #efefef;
}
.login-label {
  position: absolute;
  pointer-events: none;
  left: 10px;
  padding-bottom: 15px;
  transform: translateY(10px);
  line-height: 6px;
  transition: all ease-out 0.1s;
  font-size: 14px;
  color: #999;
  padding-top: 6px;
}
input::placeholder {
  color: white;
  visibility: hidden;
}
.login-form ::-moz-placeholder {
  color: transparent;
}
input:not(:placeholder-shown) + label {
  transform: translateY(0);
  font-size: 11px;
}
input:not(:placeholder-shown) {
  padding-top: 14px;
  padding-bottom: 2px;
}
.login-button {
  text-align: center;
  width: 100%;
  padding: 0.5rem;
  border: 1px solid transparent;
  background-color: #3897f0;
  color: #fff;
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
}
.separator {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #999;
  margin-top: 6px;
}
.line {
  height: 1px;
  width: 40%;
  background-color:gray;
}
.other {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.fb-login-btn {
  margin: 1rem;
  border: 0;
  cursor: pointer;
  font-size: 14px;
  color: #385185;
  font-weight: 600;
  background: transparent;
}
.fb-icon {
  color: #385185;
  font-size: 1rem;
  padding-right: 1px;
}
.forgot-password {
  font-size: 11px;
  color: #003569;
}
.signup {
  color: #3897f0;
  font-weight: 600;
}
.hother{
  width: 70%;
  text-align: center;
  font-size: 15px;
}