/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .home{
    position: relative;
    height: 100vh;
    display: flex;
    align-items: stretch;
    padding: 5px;
    gap: 2;
  }
  
  .navbar{
    background-color: aqua;
    width: 350px;
    border-radius: 5px;
    padding: 2px;
  }
  
  .timeline{
    background-color: blueviolet;
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
  } */