.messagebody {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.messagebody_top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 1rem;
  margin-bottom: 20px;
  border-bottom: 1px solid gray;
}
.messagestatus {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 20px;
}
.topicon {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  padding: 5px;
}
.status {
  font-size: 12px;
}
.messagebody_middle {
  box-sizing: border-box;
  margin-top: 20px;
  width: 100%;
  height: 700px;
  overflow-y: scroll;
}
.chatbox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  padding: 0 1rem;
  box-sizing: border-box;
}
.messagebody_footer {
  position: relative;
  width: 98%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  padding: 6px 10px;
  border: 1px solid gray;
  border-radius: 10px;
}
.messagebody_footer textarea {
  border: none;
  outline: none;
  width: 100%;
  height: 25px;
  background: transparent;
  font-size: 1rem;
  color: white;
}
.messagebody_footer textarea::placeholder {
  color: gray;
}
.messagebody_footer button {
  border: none;
  outline: none;
  background: transparent;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
}
.messagebody_footer button:hover {
  color: gray;
}
.message__container {
  width: 100%;
  height: 84vh;
  flex-grow: 1;
  padding: 20px;
  overflow-y: scroll;
}
.message__recipient {
  background-color: rgb(0, 132, 255);
  max-width: 300px;
  padding: 10px;
  word-break: break-all;
  border-radius: 10px;
  border-top-left-radius: 0px;
  margin-right: auto;
  font-size: 15px;
  margin-bottom: 5px;
}
.message__sender {
  background-color: rgb(135, 86, 215);
  max-width: 250px;
  word-break: break-all;
  padding: 10px;
  border-radius: 10px;
  border-top-right-radius: 0px;
  margin-left: auto;
  font-size: 15px;
  margin-bottom: 5px;
}
.message__chats {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.message__chats > p {
  font-size: 13px;
}
.sender__name {
  text-align: right;
}
.emoji {
  position: absolute;
  bottom: 24px;
  left: 0;
  margin-right: 20px;
  margin-bottom: 20px;
  font-size: 2rem;
  cursor: pointer;
}
