.no-post{
    min-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.post-body{
    margin: auto;
}
.nopost-heading{
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 20px;
}
.btnpost{
    color:   #245cbc;
    cursor: pointer;
    background: transparent;
    border: 0;
    font-size: 20px;
    margin-top: 20px;
}