.bar_header {
  width: 100%;
  padding: 10px 20px 1% 20px;
  font-size: 1em;
  display: none;
  margin: auto;
  position: sticky;
  top: 0;
  z-index: 5;
  background: black;
  border-bottom: 1px solid gray;
}

.bar_header span {
  margin-right: auto;
  font-size: 1.5em;
  font-weight: 600;
}

.bar_header_btn {
  margin-right: auto;
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1.5em;
  font-weight: 600;
  color: inherit;
}


@media screen and (max-width:770px) {
  .bar_header{
      display: flex;
  }
}