.showpost{
    width: 1000px;
    height:800px;
    display: flex;
    flex-direction:row;
    margin: auto;
    margin-top: 70px;
}
.im{
    width: 500px;
    height:500px;
}
.showbuttons{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
}
.showbtn{
    width: 100px;
    padding: 15px;
    background-color: transparent;
    color: white;
    border: 1px solid gray;
    border-radius: 10px;
    cursor: pointer;
}
.showbtn:hover{
    background-color: rgb(115, 124, 124);
}
.commnetbody{
    
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}