.profile {
  padding: 30px 20px 0px 20px;
  max-width: 850px;
  margin: 0 auto;
}

/* Tabs */
.tab-item span {
  font-size: 12px;
  font-weight: 600;
  color: hsl(0, 0%, 56%);
  margin-left: 6px;
}
.tab-item {
  display: flex;
  align-items: center;
  height: 52px;
}
.active {
  border-top: 2px solid white;
  margin-top: -1px;
  color: rgb(0, 149, 246);
}
.active_icon {
  
}
.tabs {
  border-top: 1px solid hsl(0, 0%, 56%);
  display: flex;
  justify-content: center;
  gap: 60px;
}

/* Mobile Tabs */
.mobile-tabs li {
  font-size: 14px;
  font-weight: 400;
  /* color: rgb(142, 142, 142); */
  color: white;
  list-style: none;
  line-height: 18px;
  text-align: center;
}
.mobile-tabs li div {
  font-weight: 600;
}
.mobile-tabs ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 12px 0;
  border-top: 1px solid rgb(219, 219, 219);
}
.mobile-tabs .actions {
  display: flex;
  justify-content: space-around;
  height: 44px;
  align-items: center;
  border-top: 1px solid rgb(219, 219, 219);
}

.mobile-only {
  display: none;
}

@media only screen and (max-width: 735px) {
  .mobile-only {
    display: block;
  }
}
@media only screen and (max-width: 735px) {
  .desktop-only {
    display: none;
  }
}

@media only screen and (max-width: 735px) {
  .active {
    border-top: none;
    margin-top: 0;
  }
  .profile {
    padding: 0;
  }
}

.profile_header {
  display: none;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  padding: 10px 20px 10px 20px;
  border-bottom: 1px solid rgb(219, 219, 219);
  background: black;
  z-index: 5;
}
.profile_header_center{
  display: flex;
  align-items: center;
  gap: 10px;
}

@media only screen and (max-width: 770px) {
  .profile_header {
    display: flex;
  }
}