.profile {
  padding: 30px 20px 0px 20px;
  max-width: 1000px;
  margin: 0 auto;
}

/* Tabs */
.tab-item span {
  font-size: 12px;
  font-weight: 600;
  color: hsl(0, 0%, 56%);
  margin-left: 6px;
}
.tab-item {
  display: flex;
  align-items: center;
  height: 52px;
}
.tab-item.active {
  border-top: 1px solid hsl(0, 0%, 15%);
  margin-top: -1px;
  color: hsl(0, 0%, 15%);
}
.tabs {
  border-top: 1px solid hsl(0, 0%, 86%);
  display: flex;
  justify-content: center;
}

/* Mobile Tabs */
.mobile-tabs li {
  font-size: 14px;
  font-weight: 400;
  color: rgb(142, 142, 142);
  line-height: 18px;
  text-align: center;
}
.mobile-tabs li div {
  font-weight: 600;
  color: rgb(38, 38, 38);
}
.mobile-tabs ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 12px 0;
  border-top: 1px solid rgb(219, 219, 219);
}
.mobile-tabs .actions {
  display: flex;
  justify-content: space-around;
  height: 44px;
  align-items: center;
  border-top: 1px solid rgb(219, 219, 219);
}

/* .profile_header_footericons {
  background-color: rgb(31, 29, 29);
  border: 0px;
  padding: 0px 16px;
  height: 32px;
  margin-top: 10px;
  border-radius: 8px;
} */
/* .linkprofile {
  color: white;
  text-decoration: none;
}
.profile_header_footericons:hover {
  background-color: gray;
}

.profileimage {
  width: 300px;
  height: 300px;
} */

.mobile-only {
  display: none;
}

@media only screen and (max-width: 735px) {
  .mobile-only {
    display: block;
  }
}
@media only screen and (max-width: 735px) {
  .desktop-only {
    display: none;
  }
}

@media only screen and (max-width: 735px) {
  .profile{
    padding: 0;
  }
}