.popup1 {
  padding: 10px;
  padding-bottom: 5px;
  display: flex;
  flex-direction: column;
}
.popup2 {
  border-top: 6px solid rgb(75, 73, 73);
  padding: 10px;
  display: flex;
  flex-direction: column;
}
.popup_items {
  color: inherit;
  background-color: transparent;
  padding: 16px;
  display: flex;
  width: 100%;
  flex-direction: row;
  gap: 15px;
  justify-content: flex-start;
  align-items: center;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
.popup_items:hover {
  background-color: rgba(255, 255, 255, 0.128);
}
.overlaypo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0,0);
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  animation: fadeIn 0.3s ease-in-out forwards;
}

.Popup {
  position: absolute;
  bottom: 110px;
  width: 250px;
  background-color: rgb(35, 33, 33);
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  align-items: left;
  z-index: 1000;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  text-align: center;
  transform: translateY(-50px);
  animation: slideIn 0.3s ease-in-out forwards;
}

.popup.open {
  transform: translateY(0);
}

.overlay.close {
  animation: fadeOut 0.3s ease-in-out forwards;
}

.popup.close {
  animation: slideOut 0.3s ease-in-out forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  to {
    opacity: 0;
  }
}

@keyframes slideIn {
  to {
    transform: translateY(50px);
  }
}

@keyframes slideOut {
  to {
    transform: translateY(0);
  }
}
