.smallnavbar {
  display: none;
}
.smalllogo {
  display: none;
}
@media screen and (max-width: 770px) {
  .smallnavbar {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    z-index: 4;
  }
  .smalllogo {
    display: block;
    width: 120px;
    margin: 20px;
  }
  .smallnavbarbuttons {
    display: flex;
  }
  .smallnavbutton {
    background: 0;
    border: 0;
    margin: 5px 10px 10px 10px;
    padding: 10px 15px 10px 15px;
    border-radius: 8px;
    width: 85%;
  }
}
