.show_post {
  width: 95%;
  margin: auto;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  border-radius: 50px;
}
.show_post_box {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.arrow {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 10px 0px;
}
.showpost1 {
  width: 60%;
  padding: 0px 0px 0px 10px;
}
.im {
  width: 100%;
  height: 80dvh;
  position: relative;
}
.im img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-height: 100%;
  object-fit: cover;
  aspect-ratio: 1/1;
}
.hidden_popup
{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(38, 38, 38);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  width: 300px;
  z-index: 1000;
}
.show_btn {
  width: 100%;
  padding: 15px;
  background-color: transparent;
  border: 0;
  font-size: 15px;
  font-weight: 600;
  border-top: 1px solid rgb(75, 73, 73);
  color: white;
  cursor: pointer;
  padding: 20px;
}
.showpost2 {
  width: 500px;
  padding: 0 10px 0 0px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-left: 0.2px solid gray;
}
.comment_section {
  max-height: 50dvh;
  height: 50dvh;
  padding: 5px;
  border-top: 1px solid gray;
  border-bottom: 0.2px solid gray;
  color: white;
  overflow: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.comment {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 10px;
}
.comment_heading {
  margin: auto;
  text-align: center;
}
.bar_hidden,
.bar_hidden_col {
  display: none;
}

.video__container {
  width: 100%;
  height: 80vh;
  position: relative;
}
.video__container video {
  width: 100%;
  height: 100%;
  object-fit: fill;
}
@media screen and (max-width: 770px) {
  .show_post {
    width: 100vw;
  }
  .show_post_box {
    flex-direction: column;
  }
  .showpost1 {
    width: 100%;
  }
  .bar_hidden {
    display: flex;
    padding: 0 10px 0 10px;
  }
  .bar_hidden_col {
    display: flex;
    flex-direction: column;
  }
  .bar_hidden_desk {
    display: none;
  }
  .showpost1 {
    padding-right: 10px;
  }
  .im {
    width: 100%;
    height: 45dvh;
    position: relative;
  }
  .video__container{
    height: 45vh;
  }
  .showpost2 {
    width: 100%;
    border: none;
  }
  .comment_section {
    max-height: 30dvh;
    height: 100%;
    padding: 10px;
    margin-bottom: 20px;
  }
}
