.navbar{
  display: flex;
  flex-direction: column;
  z-index: 1;
  position: fixed;
  left: 0;
  width: 14%;
  height: 100%;
  border-right: 1px solid gray;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
.logo {
  width: 60%;
  margin: 25px;
}
.logo2{
  display: none;
}
.navbarbuttons {
  position: relative;
  top: 0;
  display: flex;
  flex-direction: column;
}
.navbutton {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: 0;
  border: 0;
  margin: 5px 10px 10px 10px;
  padding: 10px 15px 10px 15px;
  border-radius: 15px;
  width: 80%;
}
.navbutton:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.128);
}
.navbutton:active {
  background-color: rgb(255, 255, 255, 0.02);
  transform: scale(0.95);
}
.navbutton > span {
  font-size: 18px;
  font-weight: bolder;
  margin-left: 10px;
}
.cl {
  color: white;
  text-decoration: none;
}
.navbutton_more {
  width: 220px;
  position: fixed;
  bottom: 3px;
}
.navbutton_more > button > span {
  font-size: 18px;
  font-weight: bolder;
  margin-left: 10px;
  color: white;
}

@media screen and (max-width: 1200px) {
  .navbar{
    display: flex;
    flex-direction: column;
    z-index: 1;
    position: fixed;
    left: 0;
    width: 9%;
    height: 100%;
    border-right: 1px solid gray;
  }
  .logo{
    display: none;
  }
  .logo2{
    display: block;
    width: 60%;
    margin: 25px 25px 20px 25px;
  }
  .navbarbuttons {
    position: relative;
    top: 0;
    display: flex;
    flex-direction: column;
  }
  .navbutton_more {
    position: fixed;
    bottom: 3px;
  }
  .navbutton>span {
    display: none;
  }
  .navbutton_more > button > span {
    display: none;
  }
}


