.messages {
  display: flex;
  min-height: 100vh;
  height: 100%;
}
.message_left {
  width: 30%;
  border-right: 1px solid gray;
  overflow-y: auto;
  height: 100%;
}
.postprofileimage {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
.message_right {
  width: 70%;
}
.chaticon {
  width: 100px;
  height: 100px;
  border: 5px solid #ccc;
  border-radius: 50%;
}
.message_icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  height: 100%;
  color: #ccc;
  gap: 10px;
}
.smbtn {
  background-color: #0095f6;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: 600;
  padding: 8px 12px;
  margin: 10px 0px;
}
.smbtn:hover {
  background-color: #0095f6;
}

@media screen and (max-width: 1000px) {
  .message_icon {
    font-size: 0.6rem;
  }
}

@media screen and (max-width: 770px) {
  .messages {
    flex-direction: column;
  }
  .message_left {
    width: 100%;
    border-right: none;
  }
  .message_right {
    border: none;
    width: 100%;
    display: none;
  }
  .messageicon {
    display: none;
  }
}
