.notifications {
  width: 600px;
  margin: auto;
}
.notifications_header {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
  text-align: center;
  align-items: center;
  padding-top:30px;
}
.not_heading {
}
.not_body{
    height: 500 px;
}
.notifications_footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  font-size: 15px;
  margin-top: 20px;
}
.footer_icons{
  display: flex;
  flex-direction: row;
  gap: 10px;
  font-size: 14px;
}
.footer_icons>div{
  cursor: pointer;
}
.notifications_footer>div>div:hover{
  text-decoration: underline;
}
.high:hover{
  cursor: pointer;
  text-decoration: underline;
}

@media screen and (max-width:750px) {
  .notifications {
    width: 90%;
  }
  .notifications_footer{
    display: none;
  }
}