.container {
  height: 800px;
  justify-content: center;
}
.container1 {
  width: 35%;
  margin: auto;
  margin-top: 70px;
  color: white;
  border: 1px solid gray;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.tic {
  width: 100%;
  text-align: center;
  margin: 10px 0px 30px 0px;
  border-bottom: 1px solid gray;
}
.dl-2 {
  padding: 50px;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}
.dl-2input {
  padding-left: 10px;
  padding-right: 70px;
  background-color:transparent;
  color: white;
  border: 2px solid black;
  border-radius: 20px;
}
.submitbtn {
  color: white;
  width: 200px;
  height: 30px;
  font-size: 16px;
  margin: auto;
  font-family: sans-serif;
  border-radius: 10px;
  border: 1px solid rgb(62, 61, 61);
  cursor: pointer;
  background-color: transparent;
}
.submitbtn:hover {
  background-color: rgb(32, 31, 31);
}
.addphotoicon {
  margin:auto
}
.input12{
  width: 200px;
  background-color: transparent;
}
input[type=file] {
  width: 250px;
  max-width: 100%;
  color: #444;
  padding: 0px;
  /* background: #fff; */
  border-radius: 10px;
  /* border: 1px solid #555; */
}
input[type=file]::file-selector-button {
  margin-right: 20px;
  border: none;
  background: #084cdf;
  padding: 10px 20px;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  transition: background .2s ease-in-out;
  margin-bottom: 20px;
}

input[type=file]::file-selector-button:hover {
  background: #0d45a5;
}
.lab{
  margin-right: 10px;
}