.setting{
    width: 1000px;
    height:780px;
    margin: auto;
}
.settingtitle{
    margin-bottom: 40px;
}
.setting_body{
    width: 950px;
    height: 650px;
    border: 1px solid gray;
    display: flex;
    flex-direction: row;
}
.body1{
    flex: 0.3;
    border-right: 1px solid gray;
    display: flex;
    flex-direction: column;
    text-align:left;    
}
.body11{
    flex: 0.4;
    border-bottom: 1px solid gray;
}
.body11_item{
    padding: 6px 0px 6px 15px;
    cursor: pointer;
}
.body12{
    flex: 0.6;
    display: flex;
    flex-direction: column;
}
.body2{
    flex: 0.7;
}
.setting_footer{
    margin: auto;
    margin-left: 150px;
    width: 1000px;
}
.body2_heading{
    padding: 20px;
    font-size: 23px;
}
.body12_item{
    padding: 12px;
    cursor: pointer;
}
.body12_item:hover{
    background-color:rgb(26, 22, 22);
}
.fs{
    font-size: 12px;
    padding: 0px 0px 0px 15px;
}
.profileinfo{
    display: flex;
    flex-direction:row;
    justify-content:center;
}