.setting {
  width: 700px;
  margin: auto;
  display: flex;
  flex-direction: column;
}
.setting_header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.setting_title {
  font-size: 2rem;
  font-weight: 600;
}
.setting_item {
  border-top: 6px solid rgb(75, 73, 73);
}
.setting_item_info {
  border-top: 6px solid rgb(75, 73, 73);
  padding: 10px 0;
}
.setting_item_login {
  border-top: 6px solid rgb(75, 73, 73);
  padding: 10px 0;
}
