.suggestions {
  margin-top: 30px;
  margin-right: 20px;
  width: 350px;
}

.suggestions__title {
  color: grey;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.jkl{
  margin-bottom: 20px;
}
.seeall{
  color: white;
  cursor: pointer;
  text-decoration: none;
}
.seeall:hover{
  color: rgb(55, 53, 53);
}
.username__left {
  display: inline-flex;
}

.username__info {
  display: flex;
  flex-direction: column;
  margin-left: 7px;
}

.relation {
  color: grey;
  font-size: 12px;
}

.suggestions__username {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.follow__button {
  color: #0095f6;
  font-weight: bold;
  background: 0;
  border: 0;
  margin-right: 5px;
}

.follow__button:hover {
  color: white;
  cursor: pointer;
}
.userprofile{
  margin-bottom: 30px;
}
.username {
  font-weight: 600;
  font-size: 14px;
}
.suggestion_footer{
  margin-top: 40px;
  width: 250px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  color: gray;
  font-size: 12px;
}
.suggestion_icons{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  cursor: pointer;
  gap: 2px;
}
.suggestion_icons>div:hover{
  text-decoration: underline;
}