.explore{
    padding: 10px 20px 0px 20px;
    margin: 0 auto;
    width: 85%;
    min-height: 95dvh;
    height: 100%;
}

@media screen and (max-width:770px) {
    .explore{
        width: 100%;
        padding: 0px;
        padding-top: 10px;
    }
}