.explore{
    width: 1000px;
    margin: auto;
}

.explore_header{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:left;
}
.imagexplore{
    width: 300px;
    height: 300px;
}