.Postp {
  width: 88%;
  height: auto;
  margin: auto;
  padding: 30px 20px 30px 20px;
  border-top: 1px solid rgba(128, 128, 128, 0.616);
}
.Postp_header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
}
.postp_header_pro {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: bolder;
  gap: 5px;
}
.postp_header_pro > span {
  color: gray;
  font-size: 15px;
}
.postp_image {
  width: 100%;
  height: 550px;
  display: flex;
  align-items: center;
  justify-items: center;
  border-radius: 6px;
  border: 0.6px solid rgba(128, 128, 128, 0.516); 
}
.postp_image > img {
  width: 100%;
  height: 100%;
  aspect-ratio: 1/1;
  object-fit:contain;
  margin: auto;
}
.postp_footer {
  margin-bottom: 10px;
}
.posticons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.postIcon {
  padding: 7px;
  font-size: 30px;
  cursor: pointer;
}
.postIcon :hover {
  cursor: pointer;
}
.profile_footer1 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.formposts > span {
  display: inline;
}
.formposts {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 40px;
  border-radius: 25px;
}
.formposts_input {
  font-size: 15px;
  box-sizing: border-box;
  background-color: transparent;
  width: 80%;
  height: 100%;
  border: none;
  outline: none;
  border-radius: 25px 0px 0px 25px;
  padding: 0px 10px 0px 10px;
  color: white;
}
.formposts_button {
  border-radius: 0 25px 25px 0px;
  width: 20%;
  height: 100%;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  color: white;
}
input[type="submit"]:hover {
  color: #0d45a5;
}
.date {
  color: gray;
  font-size: 14px;
  padding: 0px 5px 0px 5px;
}
.emoji__button {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}
.postp_title {
  margin-top: 10px;
  margin-bottom: 10px;
}
.postp_description {
  margin-bottom: 10px;
}

@media screen and (max-width: 770px) {
  .Postp {
    width: 100%;
  }

}
